# Tax band assignment model

The data set has missing tax band values for all entries before 2012, which is the majority of our data. We therefore modelled the tax bands on entries in and after 2012.

We first transformed the data using a custom transformer created for this specific data set, filling missing numeric values and creating dummies for categorical values. A random forest classifier was used assign tax band labels using letters from A to M where A the greenest and M the environmentally unfriendliest.

An overall accuracy of 0.99 was found and the best classifier criterion was found to be entropy opposed to gini. This is a high accuracy, so the model is working properly.

In [1]:
import pickle
import pandas as pd
from sqlalchemy import create_engine

from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.base import BaseEstimator, TransformerMixin

In [2]:
def load_data(database_filepath):
    """Loads the data from a database file and returns the target."""

    engine = create_engine(f'sqlite:///{database_filepath}')
    df = pd.read_sql_table('emissions', engine)

    return df

In [3]:
df = load_data('../data/emissions.db')
df.shape

(45511, 29)

In [4]:
def get_categorical_lists(df):
    """
    INPUT - df - fuel emissions dataframe
    
    OUTPUT
    mf - list of possible manufacturers
    tmt - list of possible transmission types
    tm - list of possible transmissions
    ft - list of possible fuel types
    """
    
    mfs = df['manufacturer'].unique()
    tmts = df['transmission_type'].unique()
    tms = df['transmission'].unique()
    fts = df['fuel_type'].unique()
    
    return mfs, tmts, tms, fts

In [5]:
mfs, tmts, tms, fts = get_categorical_lists(df)
mfs, tmts, tms, fts

(array(['Alfa Romeo', 'Aston Martin Lagonda', 'Audi', 'BMW', 'Cadillac',
        'Chevrolet', 'Chrysler Jeep', 'Citroen', 'Daewoo Cars', 'Daihatsu',
        'Ferrari', 'Fiat', 'Ford', 'Honda', 'Hyundai', 'Isuzu',
        'Jaguar Cars', 'Kia', 'Lamborghini', 'Land Rover', 'Lexus',
        'Lotus', 'LTI', 'Maserati', 'Mazda', 'Mercedes-Benz', 'Metrocab',
        'Micro Compact Car', 'Mitsubishi', 'Nissan', 'Perodua', 'Peugeot',
        'Porsche', 'Proton', 'Renault', 'Rolls-Royce',
        'Rover Group Limited', 'Saab', 'Seat', 'Skoda', 'Subaru', 'Suzuki',
        'Tata', 'Toyota', 'Vauxhall', 'Volkswagen', 'Volvo',
        'MG Rover Group', 'Mini', 'Morgan Motor Company', 'Bentley Motors',
        'Smart', 'SsangYong', 'Corvette', 'Dodge', 'Hummer', 'Abarth',
        'Infiniti', 'MG Motors Uk', 'McLaren', 'Dacia', 'MG Motors UK'],
       dtype=object),
 array(['Manual', 'Automatic', None], dtype=object),
 array(['M5', 'SAT5', 'M6', 'A4', 'A5', 'QM6', 'QA5', 'QM5', 'QM', 'QA',
        'FA5', 'FM5', 'FA4', 'A3', 'CVT', 'A', '4SS', 'M4', 'SAT 5', '5MT',
        '4AT', 'M5x2', 'M5/s', 'SM6', 'A6', 'MT', 'AT', 'M5N', 'A4L',
        'M5NE', 'A4NE', '3AT', '5MTx2', '4ATx2', 'A4x2', 'M', 'AV', 'QA6',
        'SS5', 'S/A6', 'M3', 'MTA', 'SAT6', 'Hybrid', 'QD6', 'D6',
        'A/SAT5', 'ASM', 'A5x2', 'M6/S6', 'A7', 'Multi5', 'E-CVT',
        'Electric', 'm5', 'SMG 7', '6MT', '5A/Tx2', 'M6x2', '5AT', '6AMT',
        '5 AMT', 'MTA5', 'i-SHIFT', 'A8', 'DCT7', 'M6-AWD', 'S6', 'A6x2',
        'D7', 'M7', 'A5-AWD', 'MultiDrive', 'MTA6', 'QD7', 'A6-AWD', 'DM6',
        'MCVT', 'Semi-Auto', 'AM5', 'Multi6', 'MultiDriv', 'DCT6', 'ET5',
        'QA8', '6AT', 'AMT6', 'AMT5', '7SP. SSG', None, 'M8', 'A8-AWD'],
       dtype=object),
 array(['Petrol', 'Diesel', 'LPG', 'Petrol Hybrid', 'CNG',
        'Petrol Electric', 'LPG / Petrol', 'Petrol / E85 (Flex Fuel)',
        'Petrol / E85', 'Diesel Electric', 'Electricity/Petrol',
        'Electricity', 'Electricity/Diesel'], dtype=object))

In [6]:
def split_data(df):
    """
    INPUT - df - full car emissions df
    
    OUTPUT
    X_train, X_test, y_train, y_test - test and train sets
    X_pop - parameter matrix for given tax band labels
    X_nan - parameter matrix of missing tax band values which cannot be used for training and testing the model. y_nan would be an empty
    """
    
    df_pop = df.dropna(subset=['tax_band'])
    X = df_pop.drop(columns='tax_band')
    y = df_pop['tax_band']
    
    X_train, X_test, y_train, y_test, = train_test_split(X, y)
    
    df_nan = df[df['tax_band'].isnull()]
    X_nan = df_nan.drop(columns='tax_band')

    return X_train, X_test, y_train, y_test, df_pop, X_nan

In [7]:
X_train, X_test, y_train, y_test, df_pop, X_nan = split_data(df)
X_train.shape, X_test.shape, y_train.shape, y_test.shape, df_pop.shape, X_nan.shape

((5877, 28), (1960, 28), (5877,), (1960,), (7837, 29), (37674, 28))

In [8]:
df_pop['manufacturer'].value_counts()

BMW                     890
Volkswagen              832
Mercedes-Benz           770
Vauxhall                533
Audi                    473
Ford                    441
Volvo                   432
Peugeot                 321
Kia                     313
Skoda                   306
Honda                   227
Citroen                 219
Mini                    158
Porsche                 146
Toyota                  145
Seat                    143
Renault                 139
Chevrolet               138
Hyundai                 123
Chrysler Jeep           109
Nissan                  107
Subaru                  104
Fiat                     89
Mazda                    88
Mitsubishi               85
Suzuki                   65
Land Rover               45
Smart                    40
Aston Martin Lagonda     40
Lexus                    37
Alfa Romeo               33
Jaguar Cars              32
SsangYong                30
Infiniti                 23
Bentley Motors           21
Ferrari                  18
Maserati                 17
Lotus                    16
Corvette                 16
Rolls-Royce              12
Morgan Motor Company     12
Abarth                   11
Dacia                     9
Perodua                   8
McLaren                   8
MG Motors UK              5
LTI                       4
MG Motors Uk              4
Name: manufacturer, dtype: int64

In [9]:
small_mf = df_pop['manufacturer'].value_counts() <= 30
small_mf[small_mf].index

Index(['SsangYong', 'Infiniti', 'Bentley Motors', 'Ferrari', 'Maserati',
       'Lotus', 'Corvette', 'Rolls-Royce', 'Morgan Motor Company', 'Abarth',
       'Dacia', 'Perodua', 'McLaren', 'MG Motors UK', 'LTI', 'MG Motors Uk'],
      dtype='object')

In [10]:
X = X_train.copy()
group_small = lambda row : 'Other' if row in small_mf[small_mf].index else row
X['manufacturer'] = X['manufacturer'].apply(group_small)
X['manufacturer'].unique()

array(['Skoda', 'Seat', 'BMW', 'Peugeot', 'Volvo', 'Mercedes-Benz',
       'Honda', 'Vauxhall', 'Volkswagen', 'Audi', 'Ford', 'Chevrolet',
       'Land Rover', 'Mitsubishi', 'Citroen', 'Kia', 'Mini', 'Lexus',
       'Nissan', 'Subaru', 'Toyota', 'Other', 'Renault', 'Smart',
       'Chrysler Jeep', 'Fiat', 'Suzuki', 'Porsche',
       'Aston Martin Lagonda', 'Alfa Romeo', 'Jaguar Cars', 'Mazda',
       'Hyundai'], dtype=object)

In [11]:
small_tm = df_pop['transmission'].value_counts() <= 30
small_tm[small_tm].index

Index(['M7', 'QA6', '5AT', 'SAT5', '4AT', 'AMT5', 'A6-AWD', 'A6x2', 'ASM',
       'M6-AWD', 'DCT7', 'ET5', 'SAT6', '7SP. SSG', 'M6x2', 'MultiDriv',
       'MultiDrive', 'Multi5', '5MTx2', 'A8-AWD', 'M5x2', 'A5-AWD', 'S/A6',
       'Multi6', 'MTA5', 'M8'],
      dtype='object')

In [12]:
df_pop['transmission_type'].value_counts()

Manual       4275
Automatic    3221
Name: transmission_type, dtype: int64

In [13]:
df_pop['fuel_type'].value_counts()

Diesel                      3960
Petrol                      3747
Petrol Hybrid                 62
Diesel Electric               22
Petrol / E85 (Flex Fuel)      16
Petrol Electric               13
Electricity                    7
Electricity/Petrol             5
CNG                            4
Electricity/Diesel             1
Name: fuel_type, dtype: int64

In [14]:
small_ft = df_pop['fuel_type'].value_counts() <= 30
small_ft[small_ft].index

Index(['Diesel Electric', 'Petrol / E85 (Flex Fuel)', 'Petrol Electric',
       'Electricity', 'Electricity/Petrol', 'CNG', 'Electricity/Diesel'],
      dtype='object')

In [15]:
class EmissionsTransformer(BaseEstimator, TransformerMixin):
    """
    Adds dummies to categorical columns and removes the original ones
    """

    def __init__(self, mfs, tmts, tms, fts):
        self.mfs, self.tmts, self.tms, self.fts = mfs, tmts, tms, fts

    def drop_columns(self, X):
        """Dropping irrelevant columns from the data set"""

        irrelevant_numeric = [
            'urban_metric', 'extra_urban_metric', 'urban_imperial',
            'extra_urban_imperial', 'combined_imperial', 'thc_nox_emissions',
            'fuel_cost_6000_miles', 'standard_12_months', 'standard_6_months',
            'first_year_12_months', 'first_year_6_months',
        ]
        X = X.drop(irrelevant_numeric, axis=1)

        irrelevant_categorical = ['model', 'description']
        X = X.drop(irrelevant_categorical, axis=1)

        return X

    def fill_columns(self, X):
        """Filling the numeric columns with the mean of these columns"""

        relevant_numeric = [
            'year', 'euro_standard', 'noise_level', 'engine_capacity',
            'combined_metric', 'fuel_cost_12000_miles', 'co2', 'thc_emissions',
            'co_emissions', 'nox_emissions', 'particulates_emissions',
        ]
        X[relevant_numeric] = X[relevant_numeric].fillna(X.mean())

        return X

    def add_dummies(self, X):
        """Add dummies for every possible value in the data set"""

        for mf in self.mfs:
            X[f'manufacturer_{mf}'] = (X['manufacturer'] == mf).astype(int)
        for tmt in self.tmts:
            X[f'manufacturer_{tmt}'] = (X['manufacturer'] == tmt).astype(int)
        for tm in self.tms:
            X[f'manufacturer_{tm}'] = (X['manufacturer'] == tm).astype(int)
        for ft in self.fts:
            X[f'manufacturer_{ft}'] = (X['manufacturer'] == ft).astype(int)

        X = X.drop(['manufacturer', 'transmission', 'transmission_type', 'fuel_type'], axis=1)
        return X

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        X = self.drop_columns(X)
        X = self.fill_columns(X)
        X = self.add_dummies(X)
        return X

In [16]:
transformer = EmissionsTransformer(mfs, tmts, tms, fts)
transformer.transform(X_train)

,year,euro_standard,engine_capacity,combined_metric,noise_level,co2,thc_emissions,co_emissions,nox_emissions,particulates_emissions,...,manufacturer_Petrol Hybrid,manufacturer_CNG,manufacturer_Petrol Electric,manufacturer_LPG / Petrol,manufacturer_Petrol / E85 (Flex Fuel),manufacturer_Petrol / E85,manufacturer_Diesel Electric,manufacturer_Electricity/Petrol,manufacturer_Electricity,manufacturer_Electricity/Diesel
40119,2012,5,1598.0,4.2,71.0,109,42.558514,161.0,127.0,0.300000,...,0,0,0,0,0,0,0,0,0,0
40031,2012,5,1390.0,7.2,74.0,167,54.000000,713.0,43.0,0.588958,...,0,0,0,0,0,0,0,0,0,0
40152,2012,5,1390.0,6.3,72.0,147,33.000000,371.0,28.0,0.588958,...,0,0,0,0,0,0,0,0,0,0
38055,2012,6,1995.0,4.1,73.0,109,42.558514,143.0,47.0,0.200000,...,0,0,0,0,0,0,0,0,0,0
43411,2013,5,1560.0,3.7,70.2,95,42.558514,296.0,152.0,0.600000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43437,2013,5,1560.0,4.9,69.6,129,42.558514,339.0,154.0,0.600000,...,0,0,0,0,0,0,0,0,0,0
44014,2013,5,1998.0,5.8,73.1,157,42.558514,258.0,148.0,0.200000,...,0,0,0,0,0,0,0,0,0,0
41996,2013,5,3604.0,11.9,72.0,273,30.000000,417.0,11.0,0.588958,...,0,0,0,0,0,0,0,0,0,0
43059,2013,5,2143.0,5.1,72.0,134,42.558514,210.0,170.0,0.300000,...,0,0,0,0,0,0,0,0,0,0
42823,2013,5,2499.0,8.4,71.4,222,42.558514,106.0,256.0,0.200000,...,0,0,0,0,0,0,0,0,0,0

In [17]:
def build_model(mfs, tmts, tms, fts):
    """Describes the model used on the data, consisting of NLP transformers and
    an individual classifier of each category."""

    pipeline = Pipeline([
        ('et', EmissionsTransformer(mfs, tmts, tms, fts)),
        ('clf', RandomForestClassifier()),
    ])

    parameters = {
        'clf__criterion': ['gini', 'entropy'],
    }

    model = GridSearchCV(pipeline, param_grid=parameters)

    return model

In [18]:
model = build_model(mfs, tmts, tms, fts)

In [19]:
model.get_params()

{'cv': None,
 'error_score': nan,
 'estimator__memory': None,
 'estimator__steps': [('et',
   EmissionsTransformer(fts=array(['Petrol', 'Diesel', 'LPG', 'Petrol Hybrid', 'CNG',
          'Petrol Electric', 'LPG / Petrol', 'Petrol / E85 (Flex Fuel)',
          'Petrol / E85', 'Diesel Electric', 'Electricity/Petrol',
          'Electricity', 'Electricity/Diesel'], dtype=object),
                        mfs=array(['Alfa Romeo', 'Aston Martin Lagonda', 'Audi', 'BMW', 'Cadillac',
          'Chevrolet', 'Chrysler Jeep', 'Citroen', 'Daewoo Cars', '...
          'Electric', 'm5', 'SMG 7', '6MT', '5A/Tx2', 'M6x2', '5AT', '6AMT',
          '5 AMT', 'MTA5', 'i-SHIFT', 'A8', 'DCT7', 'M6-AWD', 'S6', 'A6x2',
          'D7', 'M7', 'A5-AWD', 'MultiDrive', 'MTA6', 'QD7', 'A6-AWD', 'DM6',
          'MCVT', 'Semi-Auto', 'AM5', 'Multi6', 'MultiDriv', 'DCT6', 'ET5',
          'QA8', '6AT', 'AMT6', 'AMT5', '7SP. SSG', None, 'M8', 'A8-AWD'],
         dtype=object),
                        tmts=array(['Manual', 'Automatic', None], dtype=object))),
  ('clf', RandomForestClassifier())],
 'estimator__verbose': False,
 'estimator__et': EmissionsTransformer(fts=array(['Petrol', 'Diesel', 'LPG', 'Petrol Hybrid', 'CNG',
        'Petrol Electric', 'LPG / Petrol', 'Petrol / E85 (Flex Fuel)',
        'Petrol / E85', 'Diesel Electric', 'Electricity/Petrol',
        'Electricity', 'Electricity/Diesel'], dtype=object),
                      mfs=array(['Alfa Romeo', 'Aston Martin Lagonda', 'Audi', 'BMW', 'Cadillac',
        'Chevrolet', 'Chrysler Jeep', 'Citroen', 'Daewoo Cars', '...
        'Electric', 'm5', 'SMG 7', '6MT', '5A/Tx2', 'M6x2', '5AT', '6AMT',
        '5 AMT', 'MTA5', 'i-SHIFT', 'A8', 'DCT7', 'M6-AWD', 'S6', 'A6x2',
        'D7', 'M7', 'A5-AWD', 'MultiDrive', 'MTA6', 'QD7', 'A6-AWD', 'DM6',
        'MCVT', 'Semi-Auto', 'AM5', 'Multi6', 'MultiDriv', 'DCT6', 'ET5',
        'QA8', '6AT', 'AMT6', 'AMT5', '7SP. SSG', None, 'M8', 'A8-AWD'],
       dtype=object),
                      tmts=array(['Manual', 'Automatic', None], dtype=object)),
 'estimator__clf': RandomForestClassifier(),
 'estimator__et__fts': array(['Petrol', 'Diesel', 'LPG', 'Petrol Hybrid', 'CNG',
        'Petrol Electric', 'LPG / Petrol', 'Petrol / E85 (Flex Fuel)',
        'Petrol / E85', 'Diesel Electric', 'Electricity/Petrol',
        'Electricity', 'Electricity/Diesel'], dtype=object),
 'estimator__et__mfs': array(['Alfa Romeo', 'Aston Martin Lagonda', 'Audi', 'BMW', 'Cadillac',
        'Chevrolet', 'Chrysler Jeep', 'Citroen', 'Daewoo Cars', 'Daihatsu',
        'Ferrari', 'Fiat', 'Ford', 'Honda', 'Hyundai', 'Isuzu',
        'Jaguar Cars', 'Kia', 'Lamborghini', 'Land Rover', 'Lexus',
        'Lotus', 'LTI', 'Maserati', 'Mazda', 'Mercedes-Benz', 'Metrocab',
        'Micro Compact Car', 'Mitsubishi', 'Nissan', 'Perodua', 'Peugeot',
        'Porsche', 'Proton', 'Renault', 'Rolls-Royce',
        'Rover Group Limited', 'Saab', 'Seat', 'Skoda', 'Subaru', 'Suzuki',
        'Tata', 'Toyota', 'Vauxhall', 'Volkswagen', 'Volvo',
        'MG Rover Group', 'Mini', 'Morgan Motor Company', 'Bentley Motors',
        'Smart', 'SsangYong', 'Corvette', 'Dodge', 'Hummer', 'Abarth',
        'Infiniti', 'MG Motors Uk', 'McLaren', 'Dacia', 'MG Motors UK'],
       dtype=object),
 'estimator__et__tms': array(['M5', 'SAT5', 'M6', 'A4', 'A5', 'QM6', 'QA5', 'QM5', 'QM', 'QA',
        'FA5', 'FM5', 'FA4', 'A3', 'CVT', 'A', '4SS', 'M4', 'SAT 5', '5MT',
        '4AT', 'M5x2', 'M5/s', 'SM6', 'A6', 'MT', 'AT', 'M5N', 'A4L',
        'M5NE', 'A4NE', '3AT', '5MTx2', '4ATx2', 'A4x2', 'M', 'AV', 'QA6',
        'SS5', 'S/A6', 'M3', 'MTA', 'SAT6', 'Hybrid', 'QD6', 'D6',
        'A/SAT5', 'ASM', 'A5x2', 'M6/S6', 'A7', 'Multi5', 'E-CVT',
        'Electric', 'm5', 'SMG 7', '6MT', '5A/Tx2', 'M6x2', '5AT', '6AMT',
        '5 AMT', 'MTA5', 'i-SHIFT', 'A8', 'DCT7', 'M6-AWD', 'S6', 'A6x2',
        'D7', 'M7', 'A5-AWD', 'MultiDrive', 'MTA6', 'QD7', 'A6-AWD', 'DM6',
        'MCVT', 'Semi-Auto', 'AM5', 'Multi6', 'MultiDriv', 'DCT6', 'ET5',
        'QA8', '6AT', 'AMT6', 'AMT5', '7SP. SSG', None, 'M8', 'A8-AWD'],
       dtype=object),
 'estimator__et__tmts': array(['Manual', 'Automatic', None], dtype=object),
 'estimator__clf__bootstrap': True,
 'estimator__clf__ccp_alpha': 0.0,
 'estimator__clf__class_weight': None,
 'estimator__clf__criterion': 'gini',
 'estimator__clf__max_depth': None,
 'estimator__clf__max_features': 'auto',
 'estimator__clf__max_leaf_nodes': None,
 'estimator__clf__max_samples': None,
 'estimator__clf__min_impurity_decrease': 0.0,
 'estimator__clf__min_impurity_split': None,
 'estimator__clf__min_samples_leaf': 1,
 'estimator__clf__min_samples_split': 2,
 'estimator__clf__min_weight_fraction_leaf': 0.0,
 'estimator__clf__n_estimators': 100,
 'estimator__clf__n_jobs': None,
 'estimator__clf__oob_score': False,
 'estimator__clf__random_state': None,
 'estimator__clf__verbose': 0,
 'estimator__clf__warm_start': False,
 'estimator': Pipeline(steps=[('et',
                  EmissionsTransformer(fts=array(['Petrol', 'Diesel', 'LPG', 'Petrol Hybrid', 'CNG',
        'Petrol Electric', 'LPG / Petrol', 'Petrol / E85 (Flex Fuel)',
        'Petrol / E85', 'Diesel Electric', 'Electricity/Petrol',
        'Electricity', 'Electricity/Diesel'], dtype=object),
                                       mfs=array(['Alfa Romeo', 'Aston Martin Lagonda', 'Audi', 'BMW', 'Cadillac',
        'Chevrolet', 'Chrysler Jeep', 'C...
        'Electric', 'm5', 'SMG 7', '6MT', '5A/Tx2', 'M6x2', '5AT', '6AMT',
        '5 AMT', 'MTA5', 'i-SHIFT', 'A8', 'DCT7', 'M6-AWD', 'S6', 'A6x2',
        'D7', 'M7', 'A5-AWD', 'MultiDrive', 'MTA6', 'QD7', 'A6-AWD', 'DM6',
        'MCVT', 'Semi-Auto', 'AM5', 'Multi6', 'MultiDriv', 'DCT6', 'ET5',
        'QA8', '6AT', 'AMT6', 'AMT5', '7SP. SSG', None, 'M8', 'A8-AWD'],
       dtype=object),
                                       tmts=array(['Manual', 'Automatic', None], dtype=object))),
                 ('clf', RandomForestClassifier())]),
 'n_jobs': None,
 'param_grid': {'clf__criterion': ['gini', 'entropy']},
 'pre_dispatch': '2*n_jobs',
 'refit': True,
 'return_train_score': False,
 'scoring': None,
 'verbose': 0}

In [20]:
def evaluate_model(model, X_test, y_test):
    """Shows the accuracy, precision, and recall of the model."""

    y_pred = model.predict(X_test)
    print(classification_report(y_test, y_pred))
    print(model.best_params_)

In [21]:
def save_model(model, model_filepath):
    """Saves the model as a pickle file"""

    with open(model_filepath, 'wb') as file:
        pickle.dump(model, file)

In [22]:
database_filepath = '../data/emissions.db'
model_filepath = 'classifier.pkl'

print('Loading data...')
df = load_data(database_filepath)

mfs, tmts, tms, fts = get_categorical_lists(df)

print('Splitting data...')
X_train, X_test, y_train, y_test, df_pop, X_nan = split_data(df)

print('Building model...')
model = build_model(mfs, tmts, tms, fts)

print('Training model...')
model.fit(X_train, y_train)

print('Evaluating model...')
evaluate_model(model, X_test, y_test)

print('Saving model...\n    MODEL: {}'.format(model_filepath))
save_model(model, model_filepath)

print('Trained model saved!')

Loading data...
Splitting data...
Building model...
Training model...
Evaluating model...
              precision    recall  f1-score   support

           A       1.00      0.98      0.99        93
           B       0.95      1.00      0.98        80
           C       1.00      0.99      0.99       209
           D       1.00      1.00      1.00       231
           E       1.00      1.00      1.00       287
           F       1.00      1.00      1.00       222
           G       1.00      1.00      1.00       293
           H       0.98      1.00      0.99       124
           I       1.00      0.91      0.96        94
           J       0.95      0.99      0.97       105
           K       0.99      0.99      0.99        87
           L       0.98      1.00      0.99        57
           M       1.00      1.00      1.00        78

    accuracy                           0.99      1960
   macro avg       0.99      0.99      0.99      1960
weighted avg       0.99      0.99      0.99      1960

{'clf__criterion': 'gini'}
Saving model...
    MODEL: classifier.pkl
Trained model saved!